node_modules

# Output
.output
.vercel
/FE/webApp/.svelte-kit
/.svelte-kit
/FE/webApp/.svelte-kit
/build
/FE/webApp/build

# OS
.DS_Store
Thumbs.db

# Env
.env
/server/.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
